<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>New Publication</h1>

    <%= render 'form', publication: @publication %>

    <%= link_to 'Back', publications_path %>

    <% @id %>
    @id

    <div class="">
      <%= @card.name %>
    </div>

    <div class="">
      <%= image_tag(@card.image_url , :alt => "card") %>
    </div>

  </body>
</html>
